@charset "UTF-8";

/* 共通設定↓ */
a{
    color:#000;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* パーツエリア */
.c-text_lv1{
    font-size: 56px;
    font-weight: 700;
}
.c-text_lv2{
    font-size: 48px;
    font-weight: 700;
}
.c-text_lv3{
    font-size: 24px;
    font-weight: 700;
}
.c-text_lv4{
    font-size: 18px;
    font-weight: 700;
}


.c-description_lv1{
    font-size: 28px;
    font-weight: 700;
}
.c-description_lv2{
    font-size: 20px;
    font-weight: 700;
}
.c-description_lv3{
    font-size: 16px;
    font-weight: 700;
}

.c-button{
    color: #fff;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0 24px;
    border-radius: 6px;
    background-color: #000;
    margin: 24px 0 0;
}

.c-img{
    width: 100%;
    background-color: blue;
    background-size: cover;
    border-radius: 16px;
}

.c-img::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
}

/* ヘッダー↓ */
.p-header{
    margin: 0 0 -80px;
}

.p-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid #000;
    position: relative;
}
.p-header_logo{

}
.p-header_nav_list{
    display: flex;
    align-items: center;
}
.p-header_action_list{
    display: flex;
    align-items: center;
}
.p-header_nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.p-header_nav_list_item{
    padding: 0 16px;
}

.p-header_nav_head{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-header_nav_body{
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 80px;
}

.p-header_nav_search{
    padding: 0 40px;
    background: #fff;
}

.p-header_nav_search_list{
    display: flex;
    align-items: center;
}

/* メイン */

/* メインビジュアル */
.p-home_mainVisual{
    height: 600px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}
.p-home_mainVisual_text{
    max-width: 400px;
}
.p-home_section{
    margin: 40px 0 0;
}
.p-home_section_head{
    margin: 0 0 24px;
}
.p-home_section_body{
    
}

/* メイン　ボディ */
.p-arealist{
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}
.p-arealist_item{
    display: flex;
    align-items: center;
    width: 25%;
    padding: 8px;
}
.p-arealist_item_img{
    width: 72px;
    margin: 0 16px 0 0;
}


.p-cardlist{
    display: flex;
    margin: -8px;
}
.p-cardlist_item{
    flex: 1 1 0%;
    padding: 8px;
}

.p-box{
    color: #fff;
    padding: 80px;
    background: #000;
    height: 480px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
.p-box_text{
    max-width: 400px;
}

.c-button_white{
    color: #000;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0 24px;
    border-radius: 6px;
    background-color: #fff;
    margin: 30px 0 0; 
}

/* フッター↓ */
.p-footer{
    padding: 40px 0 0;
    background-color: aliceblue;
    margin: 40px 0 0 ;
}
.p-footer_body{
    display: flex;
}
.p-footer_item{
    width: 25%;
}
.p-footer_foot{
    border-top: 1px solid #000;
    margin: 40px 0 0;
    padding: 24px 0 0;
}